.login-wrap{
    width: 100vw;
    height: 100vh;
    background: url('./img/bg.jpg') no-repeat;
    background-size: cover;
    position: relative;

}
.login-title{
    width: 100vw;
    height: 1rem;
    position: relative;
    color: #fff;
    left: 0;
    top: 2rem;
    text-align: center;
    z-index: 10;
    overflow: hidden;

}
.login-enter{
    margin: 0 auto;
    perspective: 10rem;
    width: 6.5rem;
    z-index: 12;
    height: 8rem;
    position: absolute;
    top: 3.5rem;
    left: .5rem;



}

.login-3d{
    position: relative;
    height: 8.52rem;
    left: 0;
    top: 0;
    transform-style: preserve-3d;

}

.login-inner{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 3);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    backface-visibility: hidden;


}
.login-form{
    transform: rotateY(0deg)
}

.regest-form{
    transform: rotateX(180deg);

}