
@font-face {font-family: "iconfont";
  src: 
  url('../font/iconfont.ttf?t=1532110646810') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1532110646810#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-62:before { content: "\e64c"; }

.icon-htmal5icon37:before { content: "\e629"; }

.icon-shouye:before { content: "\e61c"; }

.icon-mima1:before { content: "\e64b"; }

.icon-iconfontzhizuobiaozhun44:before { content: "\e62b"; }

.icon-jiaolian1:before { content: "\e69d"; }

.icon-jiangshi:before { content: "\e640"; }

.icon-caidan:before { content: "\e662"; }

.icon-wenda:before { content: "\e893"; }

.icon-denglu:before { content: "\e611"; }

.icon-kechengguanli:before { content: "\e69a"; }

.icon-tubiaolunkuo-:before { content: "\e607"; }

.icon-feiji:before { content: "\e614"; }

.icon-zuanshi:before { content: "\e628"; }


