.header{
    height: .9rem;
    width: 100vw;
    position: fixed;
    left: 0;
    background: #db3f3e;
    margin: 0;
    padding: 0;
}

.header-right{
    position: absolute;
    right: 0;
    top: 0;
    width: .8rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #fff;


}


.icon-denglu:before{
    font-size: .5rem;
}

.header-logo{
    width: 1.84rem;
    margin: 0.23rem auto;
    display: block;
    color: #fff;
}

.header-left{
    position: absolute;
    top: 0;
    left: 0;
    width: .9rem;
    height: .9rem;
    text-align: center;
    line-height: .9rem;
    color: #fff;
}

.icon-kechengguanli:before{
    font-size: .5rem;
    color: #fff;
}