.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 1.2rem .9rem;
    background: url(http://pic.qiantucdn.com/58pic/28/17/91/59758PICdQS_1024.jpg!/fw/1024/watermark/url/L2ltYWdlcy93YXRlcm1hcmsvZGF0dS5wbmc=/repeat/true/crop/0x1024a0a0) no-repeat;
    background-size: cover;
    z-index: 1;

}


.menu a{
    display: block;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: .2rem 0;

}